@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add this to index.css */
.MuiContainer-root {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
